body{
    font-size: 16px;
    margin: 0 auto;
    max-width: 1024px;
}
header nav ul {
    padding: 0 20px;
    padding-bottom: 40px;
}
header nav ul li {
    display: inline-block;
    font-weight: bold;
    margin-right: 25px;
}
hr{
    border-style: dashed;
    color: #888;
}
footer article{
    width: 17%;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
footer article ul{
    padding: 0;
}
footer article ul li{
    list-style: none;
}
#banderas{
    float: right;
}
#bikelogo{
    margin: 20px;
}
#buyandshop{
    position: relative;
    float: right;
    width: 250px;
    left: 20px;
    top: 30px;
}
#bici5Y{
    position: relative;
    float: right;
    width: 0px;
    top: -350px;
}
#goto{
    position: relative;
    width: 200px;
    left: 60px;
    top: 10px;
}
#mainpanel{
    width: 53%;
}
#mainpanel hr{
    width: 95%;
}
#videos{
    display: inline-block;
}
#videos img{
    width: 48%;
}
#socialmedia{
    padding: 50px 0;
}
#socialmedia span{
    width: 700px;
    vertical-align: top;
}
#years5{
    position: relative;
    width: 150px;
    top: -110px;
}
.letragrande{
    font-size: 5em;
    font-weight: bolder;
}
.letraverde{
    color: #4f4;
}
.info{
    padding: 30px 2px; 
}